* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:  Arial, Helvetica, sans-serif;
}

body {
	background: url('background.jpg') no-repeat center center fixed;
	background-size: cover; /*Cover = Entire screen*/
	color: #111;
	line-height: 1.6; /*Add a little extra spacing between lines, easier readability*/
}

 h2 {
	 margin-bottom: 10px; /*Add Spacing below headers*/
 }
 
 .HeaderName {
background:url('background2.jpg') no-repeat center center fixed;
background-size: cover;
	/* Didnt like this change - position: fixed; */
    color: white;
    text-align: left
    padding 40px 20px;
    margin-bottom: 40px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 20px; 
 }
 .header-left,
 .header-right{
	 display: flex;
	 align-items: center;
 }
 .header-left{
	 flex: 1;
	 gap: 10px;
 }
 
 .header-right {
	 justify-content: flex-end;
	 flex: 1;

 }
 .Headername h1 {
	 font-size: 36px;
	 margin: 0;
	 font-weight: bold;
 }
 .Headersubtitle {
	 font-size: 18px;
	 margin-top: 10px;
	 	 justify-content: flex-end;
	 flex: 1;

 }
 .Headername p{
	 font-size: 20px;
	 margin-top: 10px;
 }
 
 section {
	 width: 80% /*sets size of section compared to window size*/
	 max-width 900px;
	 margin: 0 auto 50px auto;
 }


 /*TABS SECTION */
 .tabs {
	 text-align: center;
	 margin-bottom: 20px;
	
 }
.tab-content {
    opacity: 0;              /* Start invisible */
    max-height: 0;           /* Collapse the content */
    overflow: hidden;        /* Hide content that exceeds max-height */
    transition: opacity 0.5s ease, max-height 0.5s ease; /* Animate opacity and height */
}

.tab-content.active {
    opacity: 1;              /* Fade in */
    max-height: 2000px;      /* Large enough to fit content */
}
.tab-button{
background: #0a61c9
border none;
color: rgb(39, 38, 38);
padding: 15px 30px;
cursor: pointer;
font-weight: bold;
font-size: 18px;
border-radius: 8px;
margin: 0 10px;
transition: all 0.3s ease;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.952);
}
 .tab-button:hover {
	 background: #0c78e8;
	 transform: traslateY(-2px);

 }

 .tab-button-active {
	 background: #005bb5;
	 color: rgb(43, 42, 42);
	 transform: translateY(0);

 }


 

 
 .skills-grid{
	 display: grid;
	 grid-template-columns: repeat(auto-fit, minmax(25px 1fr));
	 gap: 15px;
 }
 
 .skill-card {
	 background: rgb(83, 47, 83);
	 border: 2px solid #0a61c9;
	 padding: 15px;
	 text-align: center;
	 border-radius: 8px;
	 font-weight: bold;
	 transition: box-shadow 0.3s ease;
	 overflow: hidden;
	 color: white;
 }
 .skill-title{
	 cursor: pointer;
	 display: flex;
	 align-items: left;
	 justify-content: center;
	 gap: 10px;
	 font-weight: bold;
	 font-size: 16px;
 }
 .skill icon {
	 display: inline-block;
	 transition: transform 0.3s ease;
	 align-items: left;
 }
 
 .skill-details{
	 max-height: 0;
	 overflow: hidden;
	 padding: 0 0;
	 transition: max-height 0.4s ease, padding 0.4s ease;
	 font-weight: normal;
	 font-size: 14px;
	 text-align: left;
 }

 .skill-details.open {
max-height: 500px;
padding: 10px 0 0 0;

 }

 /*PROJECTS SECTION*/

 .project-card{
	background: rgb(179, 172, 241);
	 border: 2px solid #0a61c9;
	 padding: 15px;
	 text-align: center;
	 font-weight: bold;
	 border-left: 6px solid #0a61c9;
	 border-radius: 8px;
	 margin-bottom: 20px;
	 transition: box-shadow 0.3s ease;
	 overflow:  hidden;
	 

 }
 .project-title{
	 cursor: pointer;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 gap: 10px;
	 font-weight: bold;
	 font-size: 16px;

 }
 
 .project-icon {
	 display: inline-block;
	 transition: transform 0.3s ease;
	
 }

 .project-title.open .project-icon {
	 transform: rotate(45deg);
 }

 .project-details {
	 max-height: 0;
	 overflow: hidden;
	 padding: 0;
	 transition: max-height 0.4s ease; padding: 0.4s ease;
font-weight: normal;
font-size: 14px;
text-align: left;
 }

 .project-details.open{
	 max-height: 500px;
	 padding: 10px 0 0 0;
 }
 /*CONTACT SECTION*/
 .contact p{
	 font-size: 18px;
 }
 
 /*FOOTER SECTION*/
 footer {
	 text-align: center;
	 padding: 20px;
	 background: #0a61c9;
	 color: white;
 }

 

